<div class="body-level" >
    <div class="row">
      <div class="col-md-2">
        <app-menu></app-menu>   
        <!-- (newSelectedOption)="handleSelectedOption($event)" -->
        <!--gets the value newSelectedOption from the sidemenu and then pass to the handleSelectedOption 
          method to set tot hte option which we use to view the page-->    
      </div>

      <div class="col-md-9">
        
        <div class="container_body">
            <h1>Graphs here</h1>
            <!-- for graphs ....DAshboard -->
        </div>

        <div>
            <h1> menu </h1>
        <!-- <div *ngIf="option === 'Partners'"> -->
            <!-- <app-partner-ship></app-partner-ship> -->
        </div>

    </div>
</div>
  